<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281483438542-33m4g51h29lpbnfbmqvvmk8jlicgsijg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281483438542-33m4g51h29lpbnfbmqvvmk8jlicgsijg</string>
	<key>API_KEY</key>
	<string>AIzaSyCkFyccMtsBE3Jaw2Uw2YsiiQgyj2ljyPg</string>
	<key>GCM_SENDER_ID</key>
	<string>281483438542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unibus</string>
	<key>PROJECT_ID</key>
	<string>unibus-ad9a4</string>
	<key>STORAGE_BUCKET</key>
	<string>unibus-ad9a4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281483438542:ios:2140bfab5b9d5777a3e39f</string>
</dict>
</plist>